$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --red: #E31E24;
  --green: #176D32;
  --lgreen: #D4E8D1;
  --black: #1A1C19;
  --white: #FFFFFF;
  --dgrey: #767775;
  --grey: #BABBBA;
  --lgrey: #E8E8E8;
}



