.main-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main-block-left {
  padding-top: 14rem;
  padding-right: 11.8rem;
  padding-bottom: 22.4rem;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include breakpoint($xl-bp) {
    gap: 2rem;
    padding-right: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include breakpoint($sm-bp) {
    padding-right: 1.6rem;
  }
}

h1,.h1,
.main-block-title {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 110%;

  @include breakpoint($xl-bp) {
    font-size: 3.2rem;
  }
}

.main-block-text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }
}

.main-block-right {
  @include breakpoint($sm-bp) {
    height: 30rem;
  }
}

.main-block-form {
  @include breakpoint($xl-bp) {
    margin-top: 10rem;

    padding-top: 6rem;
    padding-bottom: 6rem;

    background-color: var(--lgreen);
  }
}

.form-container {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 2rem 2rem -1rem rgba(26, 28, 25, 0.1);
  padding: 6rem;
  margin-top: -12rem;
  position: relative;

  @include breakpoint($xl-bp) {
    padding: 4rem 2rem;
    margin-top: 0;
  }
}

.form-title {
  @include breakpoint($xl-bp) {
    text-align: center;
  }
}

.form-container__input {
  width: 38rem;

  @include breakpoint($xl-bp) {
    width: 100%;
  }
}

.form-container__form {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 3.1rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    gap: 2rem;

    .input-wrapper {
      width: 100%;
    }

    .page-button {
      width: 100%;
    }
  }
}

.form-agreetext {
  br {
    display: none;

    @include breakpoint($sm-bp) {
      display: block;
    }
  }
}

.input-wrapper {
  position: relative;

  &.error {
    .input {
      border-color: var(--red);
    }

    &::after {
      content: 'Неверный формат';
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 150%;
      /* identical to box height, or 18px */


      /* Red */

      color: var(--red);
      position: absolute;
      top: calc(100% + 0.2rem);
      left: 1.6rem;
    }
  }
}

.input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--black);
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 1.5rem 1.6rem;

  &.havetext {
    border-color: var(--dgrey);
  }

  &:focus {
    outline: none;
    border-color: var(--black);
  }

  &:focus+.input-placeholder,
  &.havetext+.input-placeholder {
    top: -1.2rem;
    padding: 0 1rem;
    background-color: var(--white);
    color: var(--black);
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

/* Change the white to any color */
input:-webkit-autofill+.input-placeholder,
input:-webkit-autofill:hover+.input-placeholder,
input:-webkit-autofill:focus+.input-placeholder,
input:-webkit-autofill:active+.input-placeholder {
  top: -1.2rem;
  padding: 0 1rem;
  background-color: var(--white);
  color: var(--black);
}


.input-placeholder {
  position: absolute;
  top: 1.5rem;
  left: 1.6rem;
  transition: all .3s;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;

  color: var(--grey);
  pointer-events: none;
}

.input-checkbox-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  gap: 1rem;

  input {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;

    &:focus {
      outline: none;
    }

    &:checked+.input-checkbox {
      background-color: var(--green);
      border-color: var(--green);

      svg {
        stroke: var(--white);
      }
    }
  }
}

.input-checkbox {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid var(--grey);
  padding: 0;
  border-radius: 0.2rem;
  background-color: transparent;
  transition: all .3s;
  margin: 0.2rem;
  cursor: pointer;

  &:hover {
    border-color: var(--green);

    svg {
      stroke: var(--green);
    }
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
    stroke: transparent;
    fill: transparent;
  }
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 8rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
}

.desctop-br {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.mob-brblock {
  br {
    display: none;

    @include breakpoint($xl-bp) {
      display: block;
    }
  }
}

.mob-br {
  display: none;
  @include breakpoint($sm-bp) {
    display: block; }
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 13.8rem;
  position: relative;

  @include breakpoint($xl-bp) {
    padding-left: 5rem;
  }

  @include breakpoint($sm-bp) {
    gap: 1rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 1.4rem;
    left: 0;
    width: 9.8rem;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: var(--green);

    @include breakpoint($xl-bp) {
      width: 3rem;
      top: 1rem;
    }
  }
}

.specialties-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.9rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.specialties-item {
  border-radius: 1rem;
  background-color: var(--lgrey);
}

.specialties-top {
  padding: 3rem;
  background-color: var(--green);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  @include breakpoint($sm-bp) {
    padding: 2rem;
  }
}

.specialties-top__title {
  text-align: center;
}

.specialties-sublist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 4rem;

  @include breakpoint($xl-bp) {
    gap: 2rem;
    padding: 2rem;
  }

  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.specialties-subitem {
  a {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 3rem;
    display: block;

    @include breakpoint($xl-bp) {
      padding: 2rem;
    }
  }
}

.specialties-subtitle {
  display: block;
}

.Form-training {
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  margin-top: 2rem;
  display: inline-block;
}

.training-time {
  margin-top: 13.9rem;
  display: block;

  @include breakpoint($xl-bp) {
    margin-top: 4rem;
  }

  @include breakpoint($sm-bp) {
    margin-top: 2rem;
  }
}

.bg-green {
  background-color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.licence-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.9rem;

  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
  }
}


.licence-item__block {
  display: flex;
  gap: 4rem;
  align-items: center;

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }

  @include breakpoint($sm-bp) {
    gap: 2rem;
  }
}

.licence-item__img {
  height: 34rem;

  @include breakpoint($xl-bp) {
    height: 49.1rem;
  }
}

.licence-item__text {
  max-width: 37.2rem;
  padding-top: 3rem;
  position: relative;

  @include breakpoint($sm-bp) {
    padding-top: 1.3rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0.2rem;
    width: 9.8rem;
    background-color: var(--green);
    border-radius: 1rem;
  }
}

.news-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include breakpoint($xl-bp) {
    align-items: center;
  }
}

.news-button {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 1rem;
}

.news-list.swiper-wrapper {
  @include breakpoint($xl-bp) {
    display: flex;
    gap: 0;
  }

  .swiper-slide {
    @include breakpoint($xl-bp) {
      margin-right: 1.6rem;
      width: 25.3rem;
    }
  }

  .news-img {
    @include breakpoint($sm-bp) {
      height: 23rem;
    }
  }

  .news-title {
    @include breakpoint($xl-bp) {
      margin-top: 2rem;
    }
    @include breakpoint($sm-bp) {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 1.4rem;
    }
  }

  .news-desc {
    @include breakpoint($sm-bp) {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 8rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.news-img {
  height: 32.5rem;
  width: 100%;
}

.news-title {
  display: block;
  margin-top: 4rem;
  transition: color .3s;
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
  }
}

.news-desc {
  display: block;
  margin-top: 1rem;
}

.news-item {
  &:hover {
    .news-title {
      color: var(--green);
    }
  }

  &.--wider {
    grid-column: 2 span;
    @include breakpoint($xl-bp) {
      grid-column: 1 span;
    }
  }
}

.arrow-button {
  background-color: var(--green);
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  border-radius: 100%;
  border: 0;
  padding: 0;

  &.--white {
    background-color: var(--white);

    svg {
      fill: var(--green);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--white);
  }
}

.rounded {
  border-radius: 1rem;
}

.textus-img {
  height: 50rem;
  width: 100%;

  @include breakpoint($xl-bp) {
    display: none;
  }
}

.textus-form {
  @include breakpoint($xl-bp) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: var(--lgreen);
  }
}

.teachers-block {
  display: flex;
  gap: 4rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    gap: 1.5rem;
  }
}

.teachers-buttons {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.teachers-red {
  font-style: normal;
  font-weight: 700;
  font-size: 12.8rem;
  line-height: 110%;
  /* identical to box height, or 141px */


  /* Red */

  color: var(--red);

  @include breakpoint($xl-bp) {
    font-size: 8rem;
  }
}

.teachers-container {
  display: grid;
  grid-template-columns: 54rem 1fr;
  gap: 15.2rem;
  padding-right: 0;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}

.teachers-swiper {
  width: 100%;

  .swiper-slide {
    width: 37.5rem;
    margin-right: 4rem;
    @include breakpoint($xl-bp) {
      width: 25.3rem;
      margin-right: 2rem;
    }
  }
}

.teachers-img {
  height: 45rem;
  border-radius: 1rem;
  @include breakpoint($xl-bp) {
    height: 30rem;
  }
}

.teachers-name {
  margin-top: 4rem;
  @include breakpoint($sm-bp) {
    margin-top: 2rem;
  }
}

.teachers-type {
  margin-top: 0.6rem;
}

.reviews {
  background-color: var(--green);
  padding-top: 15rem;
  padding-bottom: 15rem;
  @include breakpoint($xl-bp) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.reviews-container {
  display: grid;
  grid-template-columns: 63.2rem 1fr;
  gap: 6rem;
  padding-right: 0;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    gap: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-right: 2rem;
  }
}

.reviews-buttons {
  @include breakpoint($sm-bp) {
    display: none;
  }
}
.reviews-buttons-bot {
  display: none;
  @include breakpoint($sm-bp) {
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;
  }
}

.reviews-block {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  /* or 30px */


  /* White */

  color: var(--white);
  border-bottom: 0.1rem solid rgba($color: #FFFFFF, $alpha: 0.5);
  padding-bottom: 8rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    padding-bottom: 0;
    border: 0;
    br {
      display: none;
    }
  }
}

.reviews-swiper {
  width: 100%;

  .swiper-slide {
    width: 51.3rem;
    margin-right: 4rem;
    padding: 4rem;
    background-color: var(--white);
    border-radius: 1rem;
    height: min-content;
    position: relative;
    @include breakpoint($xl-bp) {
      padding: 2rem;
    }
    @include breakpoint($sm-bp) {
      width: 100%;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(23, 109, 50, 0.5);
      transition: background-color .3s;
    }
  }

  .swiper-slide-active {
    &::before {
      background-color: transparent;
    }
  }
}

.reviews-text {
  &::before {
    content: '“';
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12.8rem;
    line-height: 80%;
    /* or 102px */


    /* Red */

    color: var(--red);
    display: block;
    @include breakpoint($xl-bp) {
      font-size: 8rem;
    }
  }
}

.reviews-name {
  margin-top: 6rem;
  @include breakpoint($xl-bp) {
    margin-top: 3rem;
  }
}

.reviews-type {
  margin-top: 0.6rem;
}

.partners {
  @include breakpoint($xl-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.partners-title {
  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.partners-wrapper {
  position: relative;
}

.partners-swiper {
  padding: 0.1rem;
  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .swiper-slide {
    padding: 3rem 6.8rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--grey);

    @include breakpoint($xl-bp) {
      padding: 1rem 2rem;
    }
    @include breakpoint($sm-bp) {
      border-radius: 0.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.swiper-arrows {
  @include breakpoint($xl-bp) {
    display: none;
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  .prev {
    left: -1.6rem;

    &:hover {
      transform: translate3d(-0.2rem, -50%, 0);
    }

    &:active {
      transform: translate3d(-0.5rem, -50%, 0);
    }
  }

  .next {
    right: -1.6rem;

    &:hover {
      transform: translate3d(0.2rem, -50%, 0);
    }

    &:active {
      transform: translate3d(0.5rem, -50%, 0);
    }
  }
}

.next {
  transition: transform .3s, opacity .3s;

  &:hover {
    transform: translate3d(0.2rem, 0, 0);
  }

  &:active {
    transform: translate3d(0.5rem, 0, 0);
  }
}

.prev {
  transition: transform .3s;

  &:hover {
    transform: translate3d(-0.2rem, 0, 0);
  }

  &:active {
    transform: translate3d(-0.5rem, 0, 0);
  }
}

.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.to-top-button {
  background-color: var(--green);
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  border-radius: 100%;
  border: 0;
  padding: 0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transform: rotate(90deg) translate3d(calc(100% + 2rem), 0, 0);
  z-index: 10;
  transition: transform .3s;
  box-shadow: 0 0 1rem rgba($color: #FFFFFF, $alpha: 0.3);
  @include breakpoint($sm-bp) {
    transform: rotate(90deg) translate3d(calc(100% + 1.6rem), 0, 0);
    right: 1.6rem;
    bottom: 1.6rem;
  }
  &.--white {
    background-color: var(--white);

    svg {
      fill: var(--green);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--white);
  }
  &.active {
    transform: translate3d(0, 0, 0) rotate(90deg);
    pointer-events: all;
  }
}

.new-container {
  max-width: 79rem;
  margin-left: auto;
  margin-right: auto;

  p {
    margin-bottom: 2rem;
  }

  h2, h3, h4 {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
}

figure {
  width: 100%;
  height: 50rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include breakpoint($xl-bp) {
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 32.5rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.modal-policy {
  * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    @include breakpoint($xl-bp) {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 2rem;
    @include breakpoint($xl-bp) {
      margin-bottom: 1.5rem;
    }
  }

  ul, ol {
    margin-top: 3rem;
    margin-bottom: 2rem;
    @include breakpoint($xl-bp) {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  li {
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 2.5rem;
  }

  ul {
    li {
      &::before {
        content: '';
        position: absolute;
        top: 0.7em;
        left: 0;
        width: 1rem;
        height: 0.1rem;
        border-radius: 1rem;
        background-color: var(--green);
    
        @include breakpoint($xl-bp) {
          width: 1rem;
        }
      }
    }
  }
  ol {
    counter-reset: num;
    li {
      counter-increment: num;
      &::before {
        content: counter(num)'.';
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bolder;
        color: var(--green);
      }
    }
  }
}

.regModal {
  transition: opacity .3s;
  will-change: opacity;
}

.opacity-0 {
  opacity: 0;
}

.close-button-style {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  border: 0;
  background-color: var(--white);
  padding: 0;
  &:hover {
    svg {
      stroke: var(--blue);
    }
  }
  @include breakpoint($xl-bp) {
    top: 2rem;
    right: 4rem;
  }
  @include breakpoint($sm-bp) {
    top: 2rem;
    right: 2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' transform='translate(0 0.5)' fill='white'/%3E%3Cpath d='M6 6.5L26 26.5' stroke='%231A1D1E' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M26 6.5L6 26.5' stroke='%231A1D1E' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .3s;
  &:hover {
    opacity: 0.5;
  }
}

.modal-overlay {
  background: rgba(26, 29, 30, 0.4);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-block {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 8rem 4rem;
  max-width: 144rem;
  position: relative;
  max-height: 100%;
  overflow: auto;

  @include breakpoint($xl-bp) {
    padding: 6rem 2rem;
  }

  
  &::-webkit-scrollbar {
    width: 0.5rem; 
  }
  &::-webkit-scrollbar:horizontal {
    height: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--lgrey);
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 0.5rem;
  }
}