.menu {
  display: grid;
  grid-template-columns: 68rem 1fr 28rem 42rem;
  justify-content: space-between;
  align-items: center;
  @include breakpoint($xl-bp) {
    position: fixed;
    z-index: 10;
    background-color: var(--white);
    right: 0;
    top: 0;
    overflow: auto;
    max-height: 100%;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 16.2rem;
    padding-bottom: 4.2rem;
    gap: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-top: 10rem;
  }

  &.menu--open {
    @include breakpoint($xl-bp) {
      transform: translate3d(0, 0, 0);
    }
  }
}

.menu__list {
  display: flex;
  gap: 4rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding-left: 4rem;
    padding-right: 4rem;
    grid-row: 4 / 5;
  }
  @include breakpoint($sm-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.menu__top-logo {
  width: 32rem;
  height: 8rem;
  margin-left: 15rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.menu__bottom {
  display: flex;
  width: 100%;
  grid-column: 1 / -1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 0.1rem solid var(--grey);
  @include breakpoint($xl-bp) {
    border-top: 0;
    padding-bottom: 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include breakpoint($xl-bp) {
      border-bottom: 0.1rem solid var(--grey);
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding-bottom: 4rem;
    }
  }
  li.active {
    a {
      color: var(--green);
    }
  }
  a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
    /* or 20px */


    /* Black */

    color: var(--black);
    transition: color .3s;
    br {
      @include breakpoint($xl-bp) {
        display: none;
      }
    }
    &:hover {
      color: var(--green);
    }
  }
}

.menu-list {
  display: flex;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
  li {
    height: 1.8rem;
  }
}

.eye-button-wrapper {
  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
    grid-row: 2 / 3;
  }
  @include breakpoint($sm-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.eye-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--black);
  padding: 1rem;
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
  transition: all .3s;
  width: max-content;
  @include breakpoint($sm-bp) {
    width: 100%;
  }
  svg {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--black);
  }

  &:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);

    svg {
      fill: var(--white);
    }
  }
}

.menu-link-list {
  display: flex;
  gap: 2rem;
  align-items: center;

  @include breakpoint($xl-bp) {
    justify-content: center;
  }
}

.link-button {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 2.4rem;
  height: 2.4rem;
  display: block;

  &.--white {
    svg {
      fill: var(--white);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--black);
  }

  &:hover {
    svg {
      fill: var(--green);
    }
  }
}

.menu--open {
  transform: translate3d(0,0,0);
}

.menu-button {
  width: 4rem;
  height: 3.4rem;
  background-color: transparent;
  border: 0;

  z-index: 11;
  display: none;
  position: relative;

  .burger-button-close {

    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
      width: 100%;
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: center center;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #first-line-burger {
      top: 0%;
    }

    #third-line-burger {
      top: unset;
      bottom: 0%;
    }
  }

  @include breakpoint($xl-bp) {
    display: block;
    margin-left: 3rem;
  }

  @include breakpoint($sm-bp) {
    margin-left: 0;
    width: 3rem;
    height: 2rem;
  }
}

.header__menu-button--active,
.menu-button--active {
  .burger-button-close {
    #first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    #second-line-burger {
      transform: translateX(0); 
      opacity: 0;
    }

    #third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.menu__contacts {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15rem;
  @include breakpoint($xl-bp) {
    margin-right: 0;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    justify-content: space-between;
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}